<div class="main">
  <div class="info-content">
    <h1>I'm <span>Dario</span> Medina</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit quasi eos
      excepturi. Sequi aliquam expedita tempore ipsum nulla. Eligendi dicta
      numquam dignissimos neque autem aperiam delectus rem, ea accusantium
      vitae.
    </p>
    <a download href="#">
      <button class="download-cv">Download CV</button>
    </a>
  </div>
  <img src="../../../../../assets/img/pexels-photo-1516680-removebg-preview.png" alt="Dario Medina Developer">
</div>
